In [2]:
import pandas as pd ; 
import numpy as np 
import time , os , sys , random
import sqlite3 , re


def convert_db_data_to_csv(table_name , connection  , path = './data/' , filename="mydata.csv" ):
    df = pd.DataFrame(pd.read_sql('select * from '+table_name , connection)) ; 
    df.to_csv(os.path.join(path , filename)) ;

In [122]:
class allotment:
    def __init__(self , subjectid ,  facultyid1 , facultyid2 , roomid , dayno , hour , subjectname='' ):
        self.subjectid =subjectid ; 
        self.subjectname = subjectname
        self.facultyid1 = facultyid1
        self.facultyid2 = facultyid2
        self.roomid = roomid
        self.dayno = dayno
        self.hour = hour
        

class faculty:
    def __init__(self , fid , fname , ftype):
        self.id , self.name , self.type = fid , fname , ftype ; 
    def __str__(self):
        return "< ID : {} , Name : {}  , type : {}  >".format(self.id , self.name , self.type) ;
    def __repr__(self):
        return self.__str__() ;
        
        


class Timetable:
    
    def __init__(self):
        self.faculty_data = pd.read_csv("data/faculty.csv") ; 
        self.room_data = pd.read_csv('data/room.csv') ; 
        self.subject_data = pd.read_csv('data/subject.csv') ;
        self.test_data = pd.read_csv('data/test.csv') ;
        
        self.faculty_data = self.faculty_data[['facultyId' , 'facultyName' , 'facultyType']]
        self.room_data = self.room_data[['roomId' , 'roomType' , 'roomNo']]
        self.subject_data = self.subject_data[['subjectId' , 'subjectName' , 'subjectType' , 'credits']]
        self.test_data = self.test_data[['batchID' , 'subjectID' , 'facultyID1' , 'facultyID2']]
        
        self.sectionslist = self.get_sections_from_batches() ;  
        self.normal_rooms = self.room_data[(self.room_data.roomType==0) & (self.room_data.roomNo)]
        self.lab_rooms = self.room_data[(self.room_data.roomType==1) & (self.room_data.roomNo)]
    
        self.allotments = []
        self.section_to_subjects = {}
        self.populate_section_to_subject() ; 
        
        self.create_faculty_objects() ; 
        self.init_faculties() ;
    
   
    def populate_section_to_subject(self):
        for section in self.sectionslist:
            self.section_to_subjects[section] = self.test_data[self.test_data.batchID==section] ;
            
    
        
    def get_sections_from_batches(self):
        '''Assume the string till last but one char as the section name and if there is only 1 char take that as section name'''
        def myfun(x , compiledre):
            if(len(x)==1):
                return x ;
            else:
                if(compiledre.match(x)):
                    return x;  
        
        compiledre = re.compile('^.*?[a-zA-Z]$') ;
        sections = self.test_data.batchID.apply(lambda x : myfun(x , compiledre)) ;
        sectionslist = sections[sections.apply(lambda x : True if x else False)].unique()
        return sectionslist ;
        

        
    def init_faculties(self):
        '''Initialize the faculties to be not allocated to all the hours of all days'''        
        self.faculty_to_day_hour_slot_map = {}
        day_to_hour = {}
        faculty_to_data = {} 

        hour_to_allotflag = {}
        for hour in range(8):
            hour_to_allotflag.update({hour : {'alloted ': False}}) ;

        for day in ['mon' , 'tue' , 'wed' , 'thu' , 'fri' , 'sat']:
            day_to_hour.update({day : hour_to_allotflag}) ;

        for faculty_object in self.faculties:
            self.faculty_to_day_hour_slot_map.update({faculty_object : day_to_hour}) ;
            
                    
    
    def allot_slots_normal_class(self):
        allotment = pd.DataFrame(columns=['day' ,'section', 'hour', 'subjectid' , 'roomno' , 'facultyname']) ; 
        for section in self.sectionslist:
            batch_subs = self.section_to_subjects[section].subjectID.values ;
        
            for day in ['mon' , 'tue' , 'wed' , 'thu' , 'fri' , 'sat']:
                selected_room = self.normal_rooms.roomNo.sample().values[0] ;
                
                for hour in range(1 , 9):
                    selected_subject = batch_subs.sample().values[0]  ;
                    selected_faculty = self.test_data[self.test_data['subjectID']==selected_subject].facultyID1.sample().values[0] ;
                    allotment = allotment.append({'section' : section , 'day' : day , 'hour' : hour  , 'subjectid' : selected_subject , 'roomno' : selected_room , 'facultyid' : selected_faculty  } , ignore_index=True)
#                     print({'day' : day , 'hour' : hour  , 'subjectid' : selected_subject , 'roomno' : selected_room , 'facultyid' : selected_faculty  } ) ; 
            
        print(allotment)
                    
    
    
    def create_faculty_objects(self):
        '''Create facultie objects using the data ''' 
        self.faculties = set() ;
        for i in range(self.faculty_data.count().facultyId):
            self.faculties.add(faculty(self.faculty_data.loc[i].facultyId , self.faculty_data.loc[i].facultyName , self.faculty_data.loc[i].facultyType))
                
        
                    
    
    def check_allotment_validity(self , allotment ):
        for allots in self.allotments:
            pass ;

In [90]:
obj = Timetable()
obj.allot_slots_normal_class()

     day section hour subjectid               roomno facultyname  facultyid
0    mon      4A    1        FR               CSL101         NaN       42.0
1    mon      4A    2     4MAT2               CSL101         NaN       46.0
2    mon      4A    3      MC03               CSL101         NaN       48.0
3    mon      4A    4        FR               CSL101         NaN       42.0
4    mon      4A    5     4MAT2               CSL101         NaN       51.0
5    mon      4A    6      MC03               CSL101         NaN       48.0
6    mon      4A    7    4CCI04               CSL101         NaN       47.0
7    mon      4A    8    4CCI04               CSL101         NaN       47.0
8    tue      4A    1    4CCI04               CSL105         NaN       41.0
9    tue      4A    2     4MAT2               CSL105         NaN       49.0
10   tue      4A    3      MC03               CSL105         NaN       48.0
11   tue      4A    4     4MAT2               CSL105         NaN       49.0
12   tue      4A    5     4MAT2               CSL105         NaN       48.0
13   tue      4A    6    4CCI04               CSL105         NaN       41.0
14   tue      4A    7     4MAT2               CSL105         NaN       48.0
15   tue      4A    8    4CCI04               CSL105         NaN       47.0
16   wed      4A    1    4CCI03               ISE304         NaN       26.0
17   wed      4A    2    4CCI03               ISE304         NaN       36.0
18   wed      4A    3     4CS01               ISE304         NaN       39.0
19   wed      4A    4     4MAT2               ISE304         NaN       48.0
20   wed      4A    5     4CS01               ISE304         NaN        9.0
21   wed      4A    6    4CCI04               ISE304         NaN       47.0
22   wed      4A    7        FR               ISE304         NaN       42.0
23   wed      4A    8     4MAT2               ISE304         NaN       51.0
24   thu      4A    1    4CCI02  M. Tech. CNE Theory         NaN        5.0
25   thu      4A    2    4CCI01  M. Tech. CNE Theory         NaN       29.0
26   thu      4A    3    4CCI04  M. Tech. CNE Theory         NaN       50.0
27   thu      4A    4     4CS01  M. Tech. CNE Theory         NaN       15.0
28   thu      4A    5     4CS01  M. Tech. CNE Theory         NaN       39.0
29   thu      4A    6    4CCI03  M. Tech. CNE Theory         NaN       36.0
..   ...     ...  ...       ...                  ...         ...        ...
402  wed   M-CSE    3    CSPE13               CSL003         NaN       10.0
403  wed   M-CSE    4       ASE               CSL003         NaN       16.0
404  wed   M-CSE    5    CSPE28               CSL003         NaN        2.0
405  wed   M-CSE    6       ASE               CSL003         NaN       16.0
406  wed   M-CSE    7    CSPE08               CSL003         NaN       20.0
407  wed   M-CSE    8        SC               CSL003         NaN        4.0
408  thu   M-CSE    1        SC  M. Tech. CNE Theory         NaN        4.0
409  thu   M-CSE    2        FR  M. Tech. CNE Theory         NaN       42.0
410  thu   M-CSE    3       ASE  M. Tech. CNE Theory         NaN       16.0
411  thu   M-CSE    4        SC  M. Tech. CNE Theory         NaN        4.0
412  thu   M-CSE    5    CSPE13  M. Tech. CNE Theory         NaN       10.0
413  thu   M-CSE    6    CSPE13  M. Tech. CNE Theory         NaN       10.0
414  thu   M-CSE    7    CSPE08  M. Tech. CNE Theory         NaN       34.0
415  thu   M-CSE    8        FR  M. Tech. CNE Theory         NaN       42.0
416  fri   M-CSE    1        FR               CSL003         NaN       42.0
417  fri   M-CSE    2        FR               CSL003         NaN       42.0
418  fri   M-CSE    3    CSPE13               CSL003         NaN       10.0
419  fri   M-CSE    4    CSPE13               CSL003         NaN       10.0
420  fri   M-CSE    5        FR               CSL003         NaN       42.0
421  fri   M-CSE    6       ASE               CSL003         NaN       16.0
422  fri   M-CSE    7    CSPE28               CSL003         NaN       29.0
423  fri   M-CSE    8    CSPE13               CSL003         NaN       10.0
424  sat   M-CSE    1        SC               ISE304         NaN        4.0
425  sat   M-CSE    2       ASE               ISE304         NaN       16.0
426  sat   M-CSE    3    CSPE08               ISE304         NaN       20.0
427  sat   M-CSE    4        FR               ISE304         NaN       42.0
428  sat   M-CSE    5    CSPE08               ISE304         NaN       24.0
429  sat   M-CSE    6    CSPE13               ISE304         NaN       10.0
430  sat   M-CSE    7        FR               ISE304         NaN       42.0
431  sat   M-CSE    8        FR               ISE304         NaN       42.0

[432 rows x 7 columns]

In [175]:
a  = obj.test_data.subjectID.values
# a = np.delete(a , 2)

array(['4CCI01', '4CCI02', '4CCI03', '4CCI04', '4CS01', '4MAT2', '4MAT2',
       'FR', 'MC03', '4CSL01', '4CSL02', 'LFR', '4CSL01', '4CSL02', 'LFR',
       '4CSL01', '4CSL02', 'LFR', '4CCI01', '4CCI02', '4CCI03', '4CCI04',
       '4CS01', '4MAT2', 'FR', 'MC03', '4CSL01', '4CSL02', 'LFR',
       '4CSL01', '4CSL02', 'LFR', '4CSL01', '4CSL02', 'LFR', '4CCI01',
       '4CCI02', '4CCI03', '4CCI04', '4CS01', '4MAT2', 'FR', 'MC03',
       '4CSL01', '4CSL02', 'LFR', '4CSL01', '4CSL02', 'LFR', '4CSL01',
       '4CSL02', 'LFR', '6CCI01 ', '6CCI02', '6CS01', '6CS03', 'CSPE01',
       'CSPE08', 'CSPE22', 'CSPE28', 'FR', '6CSL01', '6CSL03', '6CSL04',
       'LFR', '6CSL01', '6CSL03', '6CSL04', 'LFR', '6CSL01', '6CSL03',
       '6CSL04', 'LFR', '6CCI01 ', '6CCI02', '6CS01', '6CS03', 'CSPE01',
       'CSPE08', 'CSPE22', 'CSPE28', 'FR', '6CSL01', '6CSL03', '6CSL04',
       'LFR', '6CSL01', '6CSL03', '6CSL04', 'LFR', '6CSL01', '6CSL03',
       '6CSL04', 'LFR', '6CCI01 ', '6CCI02', '6CS01', '6CS03', 'CSPE01',
       'CSPE08', 'CSPE22', 'CSPE28', 'FR', '6CSL01', '6CSL03', '6CSL04',
       'LFR', '6CSL01', '6CSL03', '6CSL04', 'LFR', '6CSL01', '6CSL03',
       '6CSL04', 'LFR', 'CSPE08', 'CSPE08', 'CSPE12', 'CSPE12', 'CSPE17',
       'CSPE30', 'FR', 'AWN', 'CSPE08', 'CSPE29', 'DCS', 'FR', 'ON',
       'ASE', 'CSPE08', 'CSPE13', 'CSPE28', 'FR', 'SC'], dtype=object)